.main-layout {
    position: relative;
    display: grid;
    grid-template-columns: 
    var(--layoutpadding) 1fr var(--layoutpadding);
    gap: 15px;
}

.main-layout button{
    display: grid;
    justify-items: center;

    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

}

.main-layout .main-nav .btn-toggle-menu {
    background-color: black;
}


.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}