.main-gallery {
display: grid;
justify-items: center;
gap: 15px;


}

.main-gallery .file-input {
   display: none;
}

.main-gallery .file-btn {
    display: flow;
    font-size: xx-large;
    background-color:#ff98004a;
    color:  #000000b3;

}