.main-header {
    position: sticky;
    top: 0;
    background-color: var(--clr-primary1);
}

.main-header .header-content {
    display: flex;
    display: contents;

}




.main-header .btn-toggle-menu {
    display: none;
    background-color: var(--clr-primary1);
    color: var(--clr-primary2);
    border: none;
    font-size: large;
}

.btn-toggle-menu button {
    color: var(--clr-primary2);
    background-color: #f0f8ff00;
}